*{
    padding:0;
    margin:0;
    color:white;
}
    .box{
        font-size:25px;
        color:#f08804;
    }

nav{
    background-color:#0f1111;
    /* padding-right:200px; */
    height:60px;
}
nav a{
    text-decoration: none;
    
    margin-right:200px;
    
}
button{
    background-color:#f08804;
    
}